<%= form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
    <%=  render 'clients/form_fields', f: f %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  clients_path, :class => 'btn' %>
    </div>
<% end %>
